<h1>Sign in</h1>
<div id='keypad'>
<%= form_for :signin, remote: true do |f| %>
  <p>
    <%= f.button :"1", id: "1", class: "button", onclick: "readButton(this)" %>
    <%= f.button :"2", id: "2", class: "button", onclick: "readButton(this)" %>
    <%= f.button :"3", id: "3", class: "button", onclick: "readButton(this)" %>
  </p>
  <p>
    <%= f.button :"4", id: "4", class: "button", onclick: "readButton(this)" %>
    <%= f.button :"5", id: "5", class: "button", onclick: "readButton(this)" %>
    <%= f.button :"6", id: "6", class: "button", onclick: "readButton(this)" %>
  </p>
  <p>
    <%= f.button :"7", id: "7", class: "button", onclick: "readButton(this)" %>
    <%= f.button :"8", id: "8", class: "button", onclick: "readButton(this)" %>
    <%= f.button :"9", id: "9", class: "button", onclick: "readButton(this)" %>
  </p>
  <p>
    <%= f.button :clear, id: "clear", class: "button", onclick: "readButton(this)" %>
    <%= f.button :"0", id: "0", class: "button", onclick: "readButton(this)" %>
    <%= f.button :submit, id: "submit", class: "button", onclick: "readButton(this)" %>
  </p>
  <p>
    <%= f.text_field :entry %>
  </p>
<% end %>
</div>
