<%= form_for [:manager, @employee] do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %>
        prohibited this user from being saved:</h2>
      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :pin, "Pin" %><br>
    <%= f.text_field :pin %>
  </p>
  <%= f.submit "Add Employee" %>
<% end %>
