<h2>New Table</h2>

<%= form_for(@table) do |f| %>

  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %>
      prohibited this table from being seated:</h2>
      <ul>
        <% @table.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :number %>
    <%= f.text_field :number %>
  </p>

  <p>
    <%= f.label :guests %>
    <%= f.text_field :guests %>
  </p>
  <%= f.submit %>
<% end %>
