<%= form_for [:manager, @item] do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %>
      prohibited this table from being seated:</h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.all.map { |c| [c.name.capitalize, c.id] }, prompt: "Select One" %>
  </p>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :cost %>
    <%= f.number_field :cost %>
  </p>

  <p>
    <%= f.label :quantity %>
    <%= f.select :quantity, options_for_select((1..10).to_a) %>
  </p>

  <p>
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </p>

  <%= f.submit "Add Item" %>
<% end %>
