<h2>Manager Panel - Items</h2>

<%= link_to "Add Item", new_manager_item_path %>
<%= link_to "Add Category", new_manager_category_path %>


<div class='categories'>
  <% Category.all.each do |category|%>
    <% cat_name = category.name.capitalize.pluralize %>
    <div id=<%= category.name %>>
      <h3><%= cat_name %></h3>
      <%= link_to "Delete #{cat_name}", [:manager, category], method: :delete,
    data: { confirm: "Are you sure you want to delete this Category?"} %>
    <table id="<%= category.name %>" style="width:100%">
      <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Quantity</th>
      </tr>
        <% category.items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.cost %></td>
            <td><%= item.quantity %></td>
          </tr>
        <% end %>
    </table>
    </div>
  <% end %>
</div>
