<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Yumm
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to "Sign in", signin_path %>
</nav>

  <% flash.each do |key, val| %>
    <div class='flash' id='<%= key %>'>
      <%= val %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
